#set ( $tablename = $codewriter.tableName() )
#set ( $tableName = $strUtil.convertName($codewriter.tableName()) )
#set ( $columns = $codewriter.getColumns() )
#set ( $importedKeys = $codewriter.getImportedKeys() )
#set ( $primaryKeys = $codewriter.getPrimaryKeys() )
#set( $coreClass = "$!classPrefix$tableName" )
#set( $managerClass = "$coreClass$MGR_SUFFIX" )
#set( $beanClass = "$coreClass$BEAN_SUFFIX" )
#set( $comparatorClass = "$coreClass$COMPARATOR_SUFFIX" )
#set( $listenerClass = "$coreClass$LISTENER_SUFFIX" )